{{page-title "V2Addondoc"}}


<DocsHeader  as |header|>
  <header.link @route="index">
    <div class="my-ember-addon-logo">
      <DocsLogo @logo="ember" />
    </div>  
  </header.link>
  <header.link @href="https://github.com/cibernox/ember-basic-dropdown">
    github
  </header.link>

</DocsHeader>

{{outlet}}

<DocsKeyboardShortcuts />

<BasicDropdownWormhole />