{{!-- <DocsHero/> --}}
<div style="height: 30%">

<DocsHero
  @prefix="Ember"
  @heading="Basic-dropdown"
  @byline="Easy,beautiful dropdown for your Ember Application."
  class="some-custom-class"/>
  </div>
  
<div style="max-width: 40rem; margin: 0 auto; padding: 0 1.5rem">
  <DocsDemo as |demo|>
    <demo.example @name="my-demo.hbs">
      <p>This is a very minimal dropdown. That means that it is agnostic about what it is going to contain.

It is intended to be a building block for more complex components but is perfectly usable. It is by example the addon on which ember-power-select or ember-paper's menu component are built upon..</p>
    </demo.example>
  </DocsDemo>
</div>

